*.o
*.bak
.DS_Store
~*
*.dat
.bash_history
.histfile
*.core
.token
*.plist
stderr.txt
stdout.txt
._*
valgrind.out.core.*
__pycache__/*
.zsh_history
nohup.out
gmon.out
data.nufs
target/*
mkfs
.~lock.*
*.tmp
.aider*
